<!-- Loop over each object in the blogs array -->
<div class="body">
  <aside class="container-post">
    <nav>
      <ul>
        <li>
          <a href="#" class="logo">
           <span class="div"></span><span class="nav-item">
              Your Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/" class="table">
            <i class="fas fa-house" ></i><span class="nav-item">Home</span>
          </a>
        </li>
        {{!-- <li>
          <a href="" class="table">
            <i class="fas fa-user"></i><span
              class="nav-item"
            >User: {{user.username}}</span></a>
        </li> --}}
        
      </ul>
    </nav>
  </aside>

  <div class="container-main">
    <div class="main">
      <div class="main-top">
        <h2>Dashboard</h2>
        <i class="fas fa-check-to-slot"></i>
      </div>
      <div class="main-skills">
        <div class="card">
          <form class="new-blog-form">
            <i class="fas fa-kiwi-bird h3"></i>
            <h3 for="blog-content"  style=" color:rgb(254, 253, 252);  text-decoration: none;">Add a new blog</h3>

            <button   type="submit"><a
           
                href="/blog"
                style=" color:black;  text-decoration: none;"
              >Create Blog</a></button>
          </form>
        </div>
      </div>
    </div>
 <div class="main-course row mb-4">
  <h2>Recent Blogs</h2>

{{#if blogs.length}}

{{#each blogs as |blog|}}

<div class="course-box col-md-5" style="margin-bottom: 100px;">
  {{> blog-info blog}}
  <a>Created by {{user.username}}</a>
  <a
          href=""
        >{{format_date blog.date_created}} </a><a href="blog/{{blog.id}}">{{blog.comments.length}} comments</a>
        
 <button class="startButton1" >
          <a
            {{!-- href="/dashboard/edit/{{blog.id}}" --}}
              href="/edit/{{blog.id}}"
            style="text-decoration: none; color:rgb(75, 67, 67);"
          >Edit Blog</a></button>
          </div>
</div>
{{/each}}

{{else}}

<h3>You do not currently have any blogs</h3>
{{/if}}
</div>
  </div>
</div>
{{!-- {{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
       
    
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    
    <p>Created by {{blog.user.username}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.body}}
    </p>
  </div>
</div>
{{/each}} --}}

<script src="/js/logout.js"></script>
<script src="/js/editBlog.js"></script>
<script src="/js/addBlog.js"></script>